.s2div-1 button {
  position: absolute !important;
  top: 21% !important;
  left: 62% !important;
}

.s2div-2 button {
  position: absolute !important;
  top: 40% !important;
  left: 45% !important;
}

.s2div-3 .bt-1 {
  position: absolute !important;
  top: 34% !important;
  left: 39% !important;
}
.s2div-3 .bt-2 {
  position: absolute !important;
  top: 36.5% !important;
  left: 57.5%;
}
.s2div-3 .bt-3 {
  position: absolute !important;
  top: 68% !important;
  left: 39% !important;
}
.s2div-3 .bt-4 {
  position: absolute !important;
  top: 61% !important;
  left: 57.5%;
}
.s2div-3 .bt-5 {
  position: absolute !important;
  top: 13% !important;
  left: 60%;
}

.s2div-4 .bt-1 {
  position: absolute !important;
  top: 42% !important;
  left: 39%;
}
.s2div-4 .bt-2 {
  position: absolute !important;
  top: 42% !important;
  left: 58%;
}
.s2div-4 .bt-3 {
  position: absolute !important;
  top: 79% !important;
  left: 38%;
}
.s2div-4 .bt-4 {
  position: absolute !important;
  top: 76% !important;
  left: 58%;
}
.s2div-4 .bt-5 {
  position: absolute !important;
  top: 13.5% !important;
  left: 60% !important;
}   

.s2div-5 button {
  position: absolute !important;
  top: 55% !important;
  left: 55%;
}


.s2div-6 .bt-1 {
  position: absolute !important;
  top: 55% !important;
  left: 39%;
}

.s2div-6 .bt-2 {
  position: absolute !important;
  top: 37% !important;
  left: 47%;
}

.s2div-6 .bt-3 {
  position: absolute !important;
  top: 49% !important;
  left: 57%;
}
.s2div-6 .bt-4 {
  position: absolute !important;
  top: 13% !important;
  left: 60%;
}


.s2div-7 button {
  position: absolute !important;
  top: 44% !important;
  left: 46%;
}

.s2div-8 .bt-1 {
  position: absolute !important;
  top: 39.5% !important;
  left: 40%;
}
.s2div-8 .bt-2 {
  position: absolute !important;
  top: 38% !important;
  left: 55%;
}
.s2div-8 .bt-3 {
  position: absolute !important;
  top: 69% !important;
  left: 41.5%;
}
.s2div-8 .bt-4 {
  position: absolute !important;
  top: 62% !important;
  left: 56%;
}
.s2div-8 .bt-5 {
  position: absolute !important;
  top: 15% !important;
  left: 50%;
}
.s2div-9 button {
  position: absolute !important;
  top:25% !important;
  left: 65%;
}