.s3div-1 button {
  position: absolute !important;
  top: 21% !important;
  left: 59% !important;
  height: 60px !important;
  width: 60px !important;
}

.s3div-2 .bt-1 {
  position: absolute !important;
  top: 20% !important;
  left: 59% !important;
  height: 60px !important;
  width: 60px !important;
}

.s3div-2 .bt-2 {
  position: absolute !important;
  top: 63% !important;
  left: 47% !important;
  height: 60px !important;
  width: 60px !important;
}

.s3div-3 .bt-1 {
  position: absolute !important;
  top: 20% !important;
  left: 55% !important;
  height: 60px !important;
  width: 60px !important;
}

.s3div-3 .bt-2 {
  position: absolute !important;
  top: 54% !important;
  left: 50%;
  height: 60px !important;
  width: 60px !important;
}

.s3div-4 .bt-1 {
  position: absolute !important;
  top: 22% !important;
  left: 55% !important;
  height: 60px !important;
  width: 60px !important;
}

.s3div-5 .bt-1 {
  position: absolute !important;
  top: 18% !important;
  left: 56%;
  height: 60px !important;
  width: 60px !important;
}

.s3div-5 .bt-2 {
  position: absolute !important;
  top: 50% !important;
  left: 61%;
  height: 60px !important;
  width: 60px !important;
}

.s3div-6 button {
  position: absolute !important;
  top: 19% !important;
  left: 57%;
  height: 60px !important;
  width: 60px !important;
}



.s3div-7 button {
  position: absolute !important;
  top: 44% !important;
  left: 46%;
  height: 60px !important;
  width: 60px !important;
}

.s3div-8 .bt-1 {
  position: absolute !important;
  top: 32% !important;
  left: 57%;
  height: 60px !important;
  width: 60px !important;
}

.s3div-9 button {
  position: absolute !important;
  top: 40.5% !important;
  left: 60%;
  height: 60px !important;
  width: 60px !important;
}

.s3div-10 button {
  position: absolute !important;
  top: 41% !important;
  left: 48%;
  height: 60px !important;
  width: 60px !important;
}

.s3div-11 .bt-1 {
  position: absolute !important;
  top: 33% !important;
  left: 40%;
  height: 60px !important;
  width: 60px !important;
}

.s3div-11 .bt-2 {
  position: absolute !important;
  top: 46% !important;
  left: 60%;
  height: 60px !important;
  width: 60px !important;
}

.s3div-12 button {
  position: absolute !important;
  top: 24% !important;
  left: 65%;
  height: 60px !important;
  width: 60px !important;
}