.btn-outline-primary:hover {
    background-color: #f36c21 !important;
    border-color: #f36c21 !important;
    color: #fff !important;
}

.hover-3:hover {
    background-color: #f36c21 !important;
    border-color: #f36c21 !important;
    color: #fff !important;
}