.container-back {
  position: absolute;
  /* căn theo thẻ cha gần nhất có position: relative */
  top: 10px;
  /* cách trên 10px */
  left: 10px;
  /* cách trái 10px */
}

.Back {
  margin: 0;
  padding: 8px 16px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.Back:hover {
  background: #f36c21;
  /* đổi màu nền */
  color: #fff;
  /* đổi màu chữ */
  transform: translateY(-2px);
  /* nổi lên một chút */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}

.s1div-1 button {
  position: absolute !important;
  top: 13.5% !important;
  left: 70%;
}

.s1div-2 button {
  position: absolute !important;
  top: 25% !important;
  left: 70%;
}

.s1div-3 button {
  position: absolute !important;
  top: 15% !important;
  left: 65%;
}

.s1div-4 button {
  position: absolute !important;
  top: 12% !important;
  left: 68%;
}

.s1div-5 .bt-1 {
  position: absolute !important;
  top: -1.5% !important;
  left: 41%;
}

.s1div-5 .bt-2 {
  position: absolute !important;
  top: -1% !important;
  left: 75%;
}

.s1div-5 .bt-3 {
  position: absolute !important;
  top: 49% !important;
  left: 42%;
}

.s1div-5 .bt-4 {
  position: absolute !important;
  top: 49% !important;
  left: 77%;
}

.s1div-6 .bt-1 {
  position: absolute !important;
  top: -1.5% !important;
  left: 43%;
}

.s1div-6 .bt-2 {
  position: absolute !important;
  top: -1% !important;
  left: 75%;
}

.s1div-6 .bt-3 {
  position: absolute !important;
  top: 49% !important;
  left: 42%;
}

.s1div-6 .bt-4 {
  position: absolute !important;
  top: 49% !important;
  left: 77%;
}

.s1div-7 button {
  position: absolute !important;
  top: 15% !important;
  left: 67%;
}

@media (min-width: 1401px) {
  .s1div-1 button {
    top: 13.5%;
    left: 70%;
  }

  .s1div-2 button {
    top: 25%;
    left: 75%;
  }
}

@media (min-width: 1201px) {
  .s1div-1 button {
    top: 13.5%;
    left: 73%;
  }

  .s1div-2 button {
    top: 25%;
    left: 70%;
  }
}

@media (max-width: 1200px) and (min-width: 901px) {
  .s1div-1 button {
    top: 8%;
    left: 78%;
  }

  .s1div-2 button {
    top: 25%;
    left: 75%;
  }
}

@media (max-width: 900px) and (min-width: 601px) {
  .s1div-1 button {
    top: 9%;
    left: 77%;
  }

  .s1div-2 button {
    top: 25%;
    left: 75%;
  }
}

@media (max-width: 600px) {
  .s1div-1 button {
    top: 5% !important;
    left: 76%;
  }

  .s1div-2 button {
    top: 10%;
    left: 65%;
  }

  .s1div-5 .bt-1 {
    position: absolute !important;
    top: -3% !important;
    left: 30%;
  }

  .s1div-5 .bt-2 {
    position: absolute !important;
    top: -1% !important;
    left: 75%;
  }

  .s1div-5 .bt-3 {
    position: absolute !important;
    top: 49% !important;
    left: 30%;
  }

  .s1div-5 .bt-4 {
    position: absolute !important;
    top: 49% !important;
    left: 77%;
  }

  .s1div-6 .bt-1 {
    position: absolute !important;
    top: -3% !important;
    left: 30%;
  }

  .s1div-6 .bt-2 {
    position: absolute !important;
    top: 1% !important;
    left: 75%;
  }

  .s1div-6 .bt-3 {
    position: absolute !important;
    top: 49% !important;
    left: 30%;
  }

  .s1div-6 .bt-4 {
    position: absolute !important;
    top: 49% !important;
    left: 77%;
  }

  .s1div-7 button {
    position: absolute !important;
    top: 23% !important;
    left: 67%;
  }
}